<section id="menu" class="menu initScroll">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Our Coffee</h2>
      <p>Check Our <span>Yummy Coffee</span></p>
    </div>

    <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

      <li class="nav-item" *ngFor="let category of categories; let i = index">
        <a class="nav-link" [ngClass]="{'active show': i === 0}" data-bs-toggle="tab"
          [attr.data-bs-target]="'#menu-' + category.alias">
          <h4>{{ category.name }}</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

      <div class="tab-pane fade active show" [attr.id]="'menu-' + category.alias"
        *ngFor="let category of categories; let i = index">

        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>{{category.name}}</h3>
        </div>

        <div class="row" *ngIf="products! && products!.length > 0; else loading">
          <div class="col-lg-3 menu-item" *ngFor="let product of products; let i = index">
            <div *ngIf="product.category?.description == category.description">
              <ng-container *ngIf="product.details && product.details.length > 0; else defaultImage">
                <a href="{{ imageUrl + '' + product.details[0].imageUrl }}" class="glightbox">
                  <img src="{{ imageUrl + '' + product.details[0].imageUrl }}" class="menu-img img-fluid" alt="">
                </a>
              </ng-container>

              <ng-template #defaultImage>
                <p>No Image</p>
              </ng-template>

              <h4>{{product.name}}</h4>
              <div class="ingredients" [innerHTML]="limitText(product.remarks)"></div>
              <p class="price">
                ${{product.sellPrice}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Loading Indicator -->
      <ng-template #loading>
        <ng-container *ngIf="!errorMessage">
          <div class="loading-container">
            <div class="loading-spinner"></div>
            <p>Loading...</p>
          </div>
        </ng-container>
      </ng-template>

      <div *ngIf="errorMessage" class="alert alert-danger text-center">
        <p>Error: {{ errorMessage }}</p>
      </div>
    </div>
  </div>
</section><!-- End Menu Section -->
