<section id="menu" class="menu initScroll bg-black mt-5">
  <div class="container">
    <div class="search-container fixed-top">
      <input (keyup)="searchProducts()" type="text" placeholder="Cari Produk Disini..." [(ngModel)]="searchTerm" />
    </div>
  </div>
  <div class="container" data-aos="fade-up">
    <div *ngIf="searchErrorMessage" class="alert alert-danger text-center">
      <p [innerHTML]="searchErrorMessage"></p>
    </div>

    <div class="section-header">
      <h2 class="text-white">Our Coffee</h2>
      <p class="text-white">Check Our <span class="text-white">Yummy Coffee</span></p>
    </div>

    <div *ngFor="let category of categories">
      <h2 class="text-white">{{ category.name }}</h2>
      <div class="row" *ngIf="getProductsByCategory(category).length > 0;">
        <div class="col-lg-2 col-md-4 col-sm-6 col-6 menu-item custome-ui-item-product p-0"
          *ngFor="let product of getProductsByCategory(category); let x = index">
          <div *ngIf="product.details && product.details.length > 0; else defaultImage">
            <img [src]="imageUrl + '' + product.details[0].imageUrl" class="img-fluid pb-2" alt="">
          </div>
          <ng-template #defaultImage>
            <img src="assets/img/logo.png" class="img-fluid" alt="">
          </ng-template>
          <div class="p-2">
            <h4>{{product.name}}</h4>
            <div class="ingredients" [innerHTML]="limitText(product.remarks)"></div>
            <p class="price"><strong>Rp {{product.sellPrice}}</strong></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Loading Indicator -->
    <ng-template #loading>
      <ng-container *ngIf="!errorMessage">
        <div class="loading-container">
          <div class="loading-spinner"></div>
          <p>Loading...</p>
        </div>
      </ng-container>
    </ng-template>

    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      <p>Error: {{ errorMessage }}</p>
    </div>
  </div>
</section>
<!-- End Menu Section -->
