<app-hero></app-hero>
<section class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row gy-5 flex-row-reverse">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">OUR<br>Coffee<br /><span>PRODUCTS</span></h2>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a [routerLink]="['/product']" routerLinkActive="router-link-active" class="btn-book-a-table"> OUR BEANS &
            DRIPS</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 text-center text-lg-start">
        <img src="../../../assets/img/beans_drips.png" class="img-fluid" alt="" data-aos="zoom-out"
          data-aos-delay="300">
      </div>
    </div>
  </div>
</section>
<section class="hero d-flex align-items-center section-bg"
  [ngStyle]="{'background-image' : 'url(../../../assets/img/banner-bottom.png)'}">
  <div class="container">
    <div class="row gy-5">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">BE A<span>MEMBER</span> <br /> FOR <br /> VARIOUS <br /> BENEFITS</h2>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="btn-book-a-table"> SIGN UP
            NOW!</a>
        </div>
      </div>
    </div>
  </div>
</section>
